<a id='start'></a>
# Проект Мастерская №1

## Цель проекта
Отработать навыки работы с реальными данными.  
В качестве примера приведены данные о стартапах, функционировавших с 1980 по 2018 годы.  
Необходимо разработать модель машинного обучения при предсказания продолжения работы стартапа.  
Провести все необхрдимые работы с исходными датасетами и дать рекомендации создателям стартапов.

### Задачи для 1 части проекта:
* [Изучить и подготовить данные](#download)
* [Провести предобработку данных](#preprocessing)
* [Провести исследователький анализ данных](#research)
* [Провести корреляционный анализ данных](#corr)

<a id='download'></a>
## [Загрузка данных](#start)

In [1]:
import pandas as pd

In [2]:
# Задаем необходимые константы
RANDOM_STATE = 42

In [3]:
# Загружаем тренировочную выборку
startups_train = pd.read_csv(
    'datasets/kaggle_startups_test_28062024.csv'
)
# Просматриваем первичную информацию о датасете
startups_train.info()
# Устанавливаем 'name' как колонку-индекс
startups_train = (
    startups_train.set_index('name')
)
# Просматриваем первые 5 строк датасета
startups_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               13125 non-null  object
 1   category_list      12534 non-null  object
 2   funding_total_usd  10547 non-null  float64
 3   country_code       11743 non-null  object
 4   state_code         11430 non-null  object
 5   region             11536 non-null  object
 6   city               11538 non-null  object
 7   funding_rounds     13125 non-null  int64
 8   first_funding_at   13125 non-null  object
 9   last_funding_at    13125 non-null  object
 10  lifetime           13125 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.1+ MB

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,
Crystalsol,Clean Technology,2819200.0,NIC,17,NaN,NaN,1,2009-07-01,2009-07-01,3501
JBI Fish & Wings,Hospitality,NaN,USA,TN,TN - Other,Humboldt,1,2010-07-28,2010-07-28,2717
COINPLUS,Finance,428257.0,LUX,3,Esch-sur-alzette,Esch-sur-alzette,2,2014-05-15,2014-09-18,1295
Imagine Communications,Software|Video|Video Streaming,34700000.0,USA,CA,San Diego,San Diego,4,2005-01-01,2010-04-20,4748
DNA13,Software,4530000.0,CAN,ON,Ottawa,Ottawa,1,2007-05-08,2007-05-08,6209

In [4]:
# Загружаем тестовую выборку
startups_test = pd.read_csv(
    'datasets/kaggle_startups_test_28062024.csv'
)
# Просматриваем первичную информацию о датасете
startups_test.info()
startups_test = (
    startups_test.set_index('name')
)
# Просматриваем первые 5 строк датасета
startups_test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               13125 non-null  object
 1   category_list      12534 non-null  object
 2   funding_total_usd  10547 non-null  float64
 3   country_code       11743 non-null  object
 4   state_code         11430 non-null  object
 5   region             11536 non-null  object
 6   city               11538 non-null  object
 7   funding_rounds     13125 non-null  int64
 8   first_funding_at   13125 non-null  object
 9   last_funding_at    13125 non-null  object
 10  lifetime           13125 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.1+ MB

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,
Crystalsol,Clean Technology,2819200.0,NIC,17,NaN,NaN,1,2009-07-01,2009-07-01,3501
JBI Fish & Wings,Hospitality,NaN,USA,TN,TN - Other,Humboldt,1,2010-07-28,2010-07-28,2717
COINPLUS,Finance,428257.0,LUX,3,Esch-sur-alzette,Esch-sur-alzette,2,2014-05-15,2014-09-18,1295
Imagine Communications,Software|Video|Video Streaming,34700000.0,USA,CA,San Diego,San Diego,4,2005-01-01,2010-04-20,4748
DNA13,Software,4530000.0,CAN,ON,Ottawa,Ottawa,1,2007-05-08,2007-05-08,6209

In [5]:
# Загружаем информацию о статусе стартапа
startups_status = pd.read_csv(
    'datasets/kaggle_startups_sample_submit_28062024.csv'
)
# Просматриваем первичную информацию о датасете
startups_status.info()
startups_status = (
    startups_status.set_index('name')
)
# Просматриваем первые 5 строк датасета
startups_status.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    13125 non-null  object
 1   status  13125 non-null  object
dtypes: object(2)
memory usage: 205.2+ KB

                           status
name
Crystalsol                 closed
JBI Fish & Wings        operating
COINPLUS                   closed
Imagine Communications     closed
DNA13                   operating

**Промежуточный вывод:** 
* Судя по первичной информации о датасетах  - имеются пропуски в тренировочных данных и во входных данных тестовой выборки.    
* Наименования столбцов  соответствуют змеинному регистру  
* Все колонки 'name' установлены как индексы, чтобы не влиять на корреляцию и моделирование
* Все типы колонок соответствуют их содержимому

<a id='preprocessing'></a>
## [Предобработка данных](#start)

In [6]:
# Проверим датасет 'startups_train' на наличие явных дубликатов
print(
    'Явных дубликатов в "startups_train" -',
    startups_train.duplicated().sum()
)

Явных дубликатов в "startups_train" - 1

In [7]:
print(
    'Это составляет -',
    round(
        startups_train.duplicated().sum()
        / startups_train['category_list'].count() * 100, 3),
    'процентов от всего датасета'
)

Это составляет - 0.008 процентов от всего датасета

In [8]:
# Смотрим информацию об имеющемся дубликате
startups_train.loc[startups_train.duplicated()]

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,
Continuum Care,NaN,NaN,NaN,NaN,NaN,NaN,1,2011-01-01,2011-01-01,1077

In [9]:
# Удаляем дубликаты в тренировочных данных
startups_train = startups_train.drop_duplicates()
# Проверим датасет 'startups_train' на наличие явных дубликатов
print(
    'Явных дубликатов в "startups_train" -',
    startups_train.duplicated().sum()
)

Явных дубликатов в "startups_train" - 0

In [10]:
# Проверим датасет 'startups_test' на наличие явных дубликатов
print(
    'Явных дубликатов в "startups_test" -',
    startups_test.duplicated().sum()
)

Явных дубликатов в "startups_test" - 1

In [11]:
# Смотрим информацию об имеющемся дубликате
startups_test.loc[startups_test.duplicated()]

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,
Continuum Care,NaN,NaN,NaN,NaN,NaN,NaN,1,2011-01-01,2011-01-01,1077

In [12]:
print(
    'Это составляет -',
    round(
        startups_test.duplicated().sum()
        / startups_test['category_list'].count() * 100, 3),
    'процентов от всего датасета'
)

Это составляет - 0.008 процентов от всего датасета

**Не рекомендуется удалять дубликаты в тестовых данных.**

**Промежуточный вывод:** 
* Датасеты проверены на наличие явных дубликатов. Явные дубликаты удалены из датасета с тренировочными данными и оставлены в датасете с тестовыми данными
* Обнаруженные пропуски и неизвестные значения будут заменены в пайплайне при моделировании

<a id='research'></a>
## [Исследовательский анализ данных](#start)

In [21]:
# Создаем список категориальных признаков
cat_col_names = (
    startups_train
    .select_dtypes(exclude='number')
    .columns.tolist()
)
# Смотрим список
cat_col_names

['category_list',
 'country_code',
 'state_code',
 'region',
 'city',
 'first_funding_at',
 'last_funding_at']

In [22]:
# Создаем список количественных признаков
num_col_names = (
    startups_train
    .select_dtypes(include='number')
    .columns.tolist()
)
# Смотрим список
num_col_names

['funding_total_usd', 'funding_rounds', 'lifetime']